.game {
  position: relative;
  width: 700px;
  height: 600px;
  margin: auto;
  top: 50px;
  background-color: black;
}

.title {
  text-align: center;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

















